---
import BaseLayout from "@layouts/BaseLayout.astro";
import Logo from "@assets/logo.svg";
import { Image } from "astro:assets";
---

<BaseLayout>
  <div class="w-full flex flex-col items-center">
    <div
      class="max-w-[800px] w-full flex flex-col gap-4 rounded-full px-10 pt-10 text-justify drop-shadow">
      <Image
        src={Logo}
        class="mb-5 h-24 w-24 self-center"
        alt="Astro logo"
      />

      <h1 class="text-4xl font-semibold">About</h1>
      <p>
        I'm a software developer from France, doing wildlife photography as a
        hobby.
      </p>
      <p>
        If my photos catch your eye for any projects, don't hesitate to reach
        out. It's rewarding to know they are being put to good use. All my
        photographs are licensed under <a
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          class="underline underline-offset-3 underline-dotted"
          >CC-BY 4.0</a
        > (available on <a
          href="https://commons.wikimedia.org/wiki/User:Alexis_Lours"
          target="_blank"
          class="underline underline-offset-3 underline-dotted"
          >Wikimedia Commons</a
        >, <a
          href="https://www.inaturalist.org/people/4039214"
          target="_blank"
          class="underline underline-offset-3 underline-dotted"
          >iNaturalist</a
        >, and on this site) and <a
          href="https://creativecommons.org/licenses/by/2.0/"
          target="_blank"
          class="underline underline-offset-3 underline-dotted"
          >CC-BY 2.0</a
        > (on <a
          href="https://flickr.com/photos/alexislours/"
          target="_blank"
          class="underline underline-offset-3 underline-dotted"
          >Flicker</a
        >). By contacting me, I can also provide you with the original RAW files
        or higher resolution images.
      </p>
      <h2 class="text-2xl font-semibold">Contact</h2>
      Feel free to contact me through any of the following channels:
      <ul class="list-disc list-inside">
        <li>
          <a
            href="mailto:alexislours@protonmail.com"
            class="underline underline-offset-3 underline-dotted">
            alexislours@protonmail.com
          </a>
        </li>
        <li>Discord: @alexi.sh</li>
        <li>
          Instagram:
          <a
            href="https://instagram.com/alexisbirding"
            class="underline underline-offset-3 underline-dotted"
            >@alexisbirding
          </a>
        </li>
        <li>iNaturalist DMs</li>
      </ul>
    </div>
  </div>
</BaseLayout>
