---
import { type CollectionEntry, getCollection } from "astro:content";
import { Picture } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import Exif from "@components/Exif.astro";

export async function getStaticPaths() {
  const birds = await getCollection("birds");
  const arachnids = await getCollection("arachnids");
  const misc = await getCollection("misc");
  const mammals = await getCollection("mammals");

  const photos = [...birds, ...arachnids, ...misc, ...mammals];
  return photos.map((photo) => ({
    params: { id: photo.data.id },
    props: photo,
  }));
}
type Props = CollectionEntry<"birds">;

const photo = Astro.props;
---

<BaseLayout
  title={photo.data.title}
  description={photo.data.description}
  image={photo.data.photo.src}>
  <div class="mt-2 w-full flex flex-col items-center">
    <div class="max-w-7xl w-full flex flex-col items-center px-2">
      <Picture
        transition:name={photo.data.id}
        src={photo.data.photo}
        alt={photo.data.description}
        class="mb-2 rounded-lg bg-zinc-100"
        width={1264}
        decoding="async"
        fetchpriority="high"
        loading="eager"
        fallbackFormat="jpg"
        formats={["avif", "webp"]}
        densities={[1, 2]}
      />
      <div class="ml-5 w-full">
        <h1 class="text-3xl font-bold md:text-4xl">{photo.data.title}</h1>
        <p class="mb-2">{photo.data.description}</p>
        {
          photo.data.scientificName && photo.data.family && (
            <>
              <p>
                <b>Scientific name:</b>&nbsp;{photo.data.scientificName}
              </p>
              <p class="mb-2">
                <b>Family:</b>&nbsp;{photo.data.family}
              </p>
            </>
          )
        }
        {photo.data.exif && <Exif exif={photo.data.exif} />}
      </div>
      {
        typeof photo.data.geolocation?.longitude === "number" &&
          typeof photo.data.geolocation?.latitude === "number" && (
            <div class="mt-5 w-full flex justify-center">
              <a
                href={`https://www.openstreetmap.org/?mlat=${photo.data.geolocation.latitude}&mlon=${photo.data.geolocation.longitude}#map=14/${photo.data.geolocation.latitude}/${photo.data.geolocation.longitude}`}
                target="_blank">
                <Picture
                  src={`https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/pin-l-attraction+ff4f4f(${
                    photo.data.geolocation.longitude
                  },${photo.data.geolocation.latitude})/${
                    photo.data.geolocation.longitude
                  },${
                    photo.data.geolocation.latitude
                  },14/500x500@2x?access_token=${import.meta.env.MAPBOX_TOKEN}`}
                  alt="Location"
                  width={500}
                  height={500}
                  quality={50}
                  loading={"lazy"}
                  decoding="async"
                  formats={["avif", "webp"]}
                  fetchpriority="low"
                  densities={[1, 2]}
                  class="mt-5 max-h-[500px] w-auto rounded-lg bg-zinc-100"
                />
              </a>
            </div>
          )
      }
    </div>
  </div>
</BaseLayout>
