---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import GalleryGrid from "@components/GalleryGrid.astro";

const galleries = (await getCollection("galleries")).sort(
  (a, b) => a.data.priority - b.data.priority
);
---

<BaseLayout>
  <GalleryGrid galleries={galleries} />
</BaseLayout>
