---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PhotoGrid from "@components/PhotoGrid.astro";

const birds = (await getCollection("birds")).sort(
  (a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
);
---

<BaseLayout image={birds[0]?.data.photo.src}>
  <PhotoGrid photos={birds} />
</BaseLayout>
