---
import Aperture from "@icons/Aperture.astro";
import ISO from "@icons/ISO.astro";
import Exposure from "@icons/Exposure.astro";
import FocalLength from "@icons/FocalLength.astro";

const { exif } = Astro.props as {
  exif: Exif;
};

type Exif = {
  camera?: string;
  lens?: string;
  aperture?: string;
  focalLength?: string;
  shutterSpeed?: string;
  iso?: string;
};
---

<p>
  {
    exif.camera && (
      <span>
        <strong>Camera:&nbsp;</strong>
        {exif.camera}
      </span>
    )
  }
</p>
<p class="mb-2">
  {
    exif.lens && (
      <span>
        <strong>Lens:&nbsp;</strong>
        {exif.lens}
      </span>
    )
  }
</p>

{
  exif.aperture && (
    <p
      class="flex items-center gap-2"
      title="Aperture">
      <Aperture />
      <span>f/{exif.aperture}</span>
    </p>
  )
}

{
  exif.focalLength && (
    <p
      class="flex items-center gap-2"
      title="Focal length">
      <FocalLength />
      <span>{exif.focalLength}mm</span>
    </p>
  )
}

{
  exif.shutterSpeed && (
    <p
      class="flex items-center gap-2"
      title="Exposure">
      <Exposure />
      <span>{exif.shutterSpeed} sec</span>
    </p>
  )
}

{
  exif.iso && (
    <p
      class="flex items-center gap-2"
      title="ISO">
      <ISO />
      <span>{exif.iso}</span>
    </p>
  )
}
