---
import { Picture } from "astro:assets";
import type { Gallery } from "@typedefs/gallery";

const { galleries } = Astro.props as {
  galleries: Array<Gallery>;
};
---

<div class="w-full flex justify-center">
  <div
    class="grid grid-cols-1 m-2 w-full gap-2 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2">
    {
      galleries.map((gallery, index) => (
        <div class="relative">
          <a href={gallery.slug}>
            <Picture
              src={gallery.data.cover}
              alt={gallery.data.title}
              width={500}
              decoding="async"
              fetchpriority={index < 3 ? "high" : "auto"}
              loading={index < 12 ? "eager" : "lazy"}
              fallbackFormat="jpg"
              formats={["avif", "webp"]}
              densities={[1, 2]}
              class="aspect-[3/2] h-auto w-full bg-zinc-100 object-cover"
            />
            <div class="absolute inset-0 z-10 from-black/80 to-transparent bg-gradient-to-t">
              <div class="absolute bottom-0 left-1 p-2 text-xl text-white font-semibold">
                {gallery.data.title}
              </div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
