---
import Rss from "./icons/Rss.astro";
import Home from "./icons/Home.astro";
import About from "./icons/About.astro";
import Galleries from "./icons/Galleries.astro";
---

<div
  transition:name="nav-pill"
  class="fixed bottom-5 left-5 z-20 h-14 flex items-center gap-6 rounded-full bg-gray-200/50 px-6 backdrop-blur-xl backdrop-saturate-180 md:bottom-unset md:left-unset md:right-5 md:top-5">
  <a
    href="/"
    aria-label="Home">
    <Home />
  </a>
  <a
    href="/galleries"
    aria-label="Galleries">
    <Galleries />
  </a>
  <a
    href="/about"
    aria-label="About">
    <About />
  </a>
  <a
    href="/feed.xml"
    aria-label="RSS Feed">
    <Rss />
  </a>
</div>
