---
import { Picture } from "astro:assets";
import type { Photo } from "@typedefs/photo";

const { photos } = Astro.props as {
  photos: Array<Photo>;
};

const getSize = (isLarge: boolean | undefined) => {
  return isLarge
    ? { class: "sm:col-span-2 sm:row-span-2", width: 1000 }
    : { class: "sm:col-span-1 sm:row-span-1", width: 500 };
};
---

<div class="w-full flex justify-center">
  <div
    class="grid grid-flow-dense grid-cols-1 m-2 w-full gap-2 lg:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4">
    {
      photos.map((photo, index) => (
        <div class={getSize(photo.data.isLarge).class}>
          <a
            href={"/" + photo.slug}
            class="block bg-zinc-100">
            <Picture
              transition:name={photo.data.id}
              src={photo.data.photo}
              alt={photo.data.description}
              decoding="async"
              width={getSize(photo.data.isLarge).width}
              fetchpriority={index < 3 ? "high" : "auto"}
              loading={index < 12 ? "eager" : "lazy"}
              fallbackFormat="jpg"
              formats={["avif", "webp"]}
              densities={[1, 2]}
              class="aspect-[3/2] h-full w-full object-cover"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
