<svg
  id="icon"
  xmlns="http://www.w3.org/2000/svg"
  class="h-8 w-8"
  viewBox="0 0 32 32"
  fill="currentColor"
  ><path
    d="M28,23H24a2,2,0,0,1-2-2V11a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2V21A2,2,0,0,1,28,23ZM24,11V21h4V11Z"
  ></path><path
    d="M18,23H12V21h6V17H14a2,2,0,0,1-2-2V11a2,2,0,0,1,2-2h6v2H14v4h4a2,2,0,0,1,2,2v4A2,2,0,0,1,18,23Z"
  ></path><polygon
    points="2 11 5 11 5 21 2 21 2 23 10 23 10 21 7 21 7 11 10 11 10 9 2 9 2 11"
  ></polygon>
</svg>
