---
import Head from "@components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/constants";
import NavigationPill from "@components/NavigationPill.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string | undefined;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      image={image}
    />
  </head>
  <body class="motion-reduce:transition-none">
    <main class="pb-20 overflow-x-hidden overflow-y-auto">
      <slot />
      <NavigationPill />
    </main>
  </body>
</html>
